<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk51.modules.marketing.mapper.BMarketingMemberMapper" >
  <resultMap id="BaseResultMap" type="com.jk51.model.BMarketingMember" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="site_id" property="siteId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="marketing_plan_id" property="marketingPlanId" jdbcType="INTEGER" />
    <result column="add_num" property="addNum" jdbcType="INTEGER" />
    <result column="draw_num" property="drawNum" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, site_id, member_id, marketing_plan_id, add_num, draw_num, is_del, create_time,
    update_time
  </sql>


  <resultMap id="MemberPrizesResultMap" type="com.jk51.model.BMarketingMember" extends="BaseResultMap" >
    <collection property="prizesList" ofType="com.jk51.model.BMarketingMember$Prizes" >
      <id column="extId" property="id" jdbcType="INTEGER" />
      <result column="type" property="type" jdbcType="INTEGER" />
      <result column="type_id" property="typeId" jdbcType="INTEGER" />
      <result column="type_info" property="typeInfo" jdbcType="VARCHAR" />
      <result column="tag" property="tag" jdbcType="INTEGER" />
      <result column="status" property="status" jdbcType="INTEGER" />
      <result column="remark" property="remark" jdbcType="VARCHAR" />
      <result column="extCreateTime" property="createTime" jdbcType="TIMESTAMP" />
    </collection>
  </resultMap>

  <select id="selectByBuyerId" resultMap="MemberPrizesResultMap" >
        SELECT m.*, e.id extId, e.type, e.type_id, e.type_info, e.tag, e.`status`, e.remark, e.create_time extCreateTime
        FROM b_marketing_member m LEFT JOIN b_marketing_member_ext e ON m.site_id=e.site_id AND m.id=e.marketing_member_id
        WHERE m.is_del!=1 AND m.site_id = #{siteId} AND m.marketing_plan_id = #{planId} AND m.member_id = #{buyerId}
  </select>


  <select id="getLst" parameterType="com.jk51.modules.marketing.request.MarketingMemberParm" resultType="Map">
    SELECT bmpe.id,bmpe.site_id,bmpe.marketing_member_id,bmpe.type,bmpe.type_id,bmpe.type_info,bmpe.tag,bmpe.`status`,bmpe.create_time,bmpe.update_time,IFNULL(bmpe.remark,'') remark,bm.mobile, bmp.`name` FROM b_marketing_member bmm
    INNER JOIN b_member bm ON bmm.member_id=bm.buyer_id AND bmm.site_id=bm.site_id
    INNER JOIN b_marketing_plan bmp ON bmm.marketing_plan_id=bmp.id AND bmm.site_id=bmp.site_id
    RIGHT JOIN b_marketing_member_ext bmpe ON bmpe.marketing_member_id=bmm.id AND bmm.site_id=bmpe.site_id
    <where>
      <if test="1==1">
        AND bmm.site_id=#{siteId} AND bmm.is_del=0
      </if>
      <if test="name != null">
        AND bmp.`name` LIKE concat('%',#{name},'%')
      </if>
      <if test="type_info != null">
        AND bmpe.type_info LIKE concat('%',#{type_info},'%')
      </if>
      <if test="type != null">
        AND bmpe.type=#{type}
      </if>
      <if test="begainTime != null">
        AND bmpe.create_time <![CDATA[ >= ]]> concat(#{begainTime},' 00:00:00')
      </if>
      <if test="endTime != null">
        AND bmpe.create_time <![CDATA[ <= ]]> concat(#{endTime},' 23:59:59')
      </if>
      <if test="status != null">
        AND bmpe.status=#{status}
      </if>
      <if test="mobile != null">
        AND bm.mobile=#{mobile}
      </if>
    </where>
    ORDER BY bmpe.create_time DESC
  </select>

  <update id="updNum">
      UPDATE b_marketing_member
      <set>
        <if test="ceiling != null">
          ceiling=#{ceiling},
        </if>
        <if test="drawNum != null">
          draw_num=#{drawNum},
        </if>
      </set>
      WHERE site_id=#{siteId} AND id=#{id}
  </update>

  <update id="updateDrawNum">
      UPDATE b_marketing_member SET draw_num=draw_num+1 WHERE site_id = #{siteId} AND id = #{id} AND draw_num = #{memberDrawNum}
  </update>

  <insert id="insertSelective" parameterType="com.jk51.model.BMarketingMember" useGeneratedKeys="true" keyProperty="id" >
    insert into b_marketing_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="marketingPlanId != null" >
        marketing_plan_id,
      </if>
      <if test="addNum != null" >
        add_num,
      </if>
      <if test="drawNum != null" >
        draw_num,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="marketingPlanId != null" >
        #{marketingPlanId,jdbcType=INTEGER},
      </if>
      <if test="addNum != null" >
        #{addNum,jdbcType=INTEGER},
      </if>
      <if test="drawNum != null" >
        #{drawNum,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>
