<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk51.modules.appInterface.mapper.BMessageSettingMapper" >
  <resultMap id="BaseResultMap" type="com.jk51.model.BMessageSetting" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="site_id" property="siteId" jdbcType="INTEGER" />
    <result column="message_type" property="messageType" jdbcType="VARCHAR" />
    <result column="message_title" property="messageTitle" jdbcType="VARCHAR" />
    <result column="message_icon" property="messageIcon" jdbcType="VARCHAR" />
    <result column="message_summary" property="messageSummary" jdbcType="VARCHAR" />
    <result column="message_content" property="messageContent" jdbcType="VARCHAR" />
    <result column="message_whereabouts" property="messageWhereabouts" jdbcType="VARCHAR" />
    <result column="notification_title" property="notificationTitle" jdbcType="VARCHAR" />
    <result column="notification_text" property="notificationText" jdbcType="VARCHAR" />
    <result column="notification_logo" property="notificationLogo" jdbcType="VARCHAR" />
    <result column="notification_logo_url" property="notificationLogoUrl" jdbcType="VARCHAR" />
    <result column="notification_ring" property="notificationRing" jdbcType="INTEGER" />
    <result column="notification_vibrate" property="notificationVibrate" jdbcType="INTEGER" />
    <result column="notification_clearable" property="notificationClearable" jdbcType="INTEGER" />
    <result column="mandatory_reminder" property="mandatoryReminder" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="ext" property="ext" jdbcType="VARCHAR" />
    <result column="offline" property="offLine" jdbcType="INTEGER" />
    <result column="wifi" property="wifi" jdbcType="INTEGER" />
    <result column="sound" property="sound" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, site_id, message_type, message_title, message_icon, message_summary, message_content, 
    message_whereabouts, notification_title, notification_text, notification_logo, notification_logo_url, 
    notification_ring, notification_vibrate, notification_clearable, mandatory_reminder, 
    create_time, update_time, ext, offline, wifi, sound
  </sql>


  <select id="getPushSetting" resultMap="BaseResultMap" >
    select
      <include refid="Base_Column_List" />
    from b_message_setting
    where site_id = #{siteId} and message_type = #{messageType}
  </select>

  <select id="getDelaySeconds" resultType="java.lang.String" >
    select ext from b_message_setting where site_id = #{siteId} and message_type = #{messageType}
  </select>

    <update id="updateDelayTime">
    UPDATE b_message_setting SET ext = #{delayTime} WHERE site_id = #{siteId} and message_type = #{messageType}
    </update>



  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from b_message_setting
    where id = #{id,jdbcType=INTEGER}
      and site_id = #{siteId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from b_message_setting
    where id = #{id,jdbcType=INTEGER}
      and site_id = #{siteId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.jk51.model.BMessageSetting" >
    insert into b_message_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="messageType != null" >
        message_type,
      </if>
      <if test="messageTitle != null" >
        message_title,
      </if>
      <if test="messageIcon != null" >
        message_icon,
      </if>
      <if test="messageSummary != null" >
        message_summary,
      </if>
      <if test="messageContent != null" >
        message_content,
      </if>
      <if test="messageWhereabouts != null" >
        message_whereabouts,
      </if>
      <if test="notificationTitle != null" >
        notification_title,
      </if>
      <if test="notificationText != null" >
        notification_text,
      </if>
      <if test="notificationLogo != null" >
        notification_logo,
      </if>
      <if test="notificationLogoUrl != null" >
        notification_logo_url,
      </if>
      <if test="notificationRing != null" >
        notification_ring,
      </if>
      <if test="notificationVibrate != null" >
        notification_vibrate,
      </if>
      <if test="notificationClearable != null" >
        notification_clearable,
      </if>
      <if test="mandatoryReminder != null" >
        mandatory_reminder,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="ext != null" >
        ext,
      </if>
      <if test="offLine != null" >
        offline,
      </if>
      <if test="wifi != null" >
        wifi,
      </if>
      <if test="sound != null" >
        sound,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="messageType != null" >
        #{messageType,jdbcType=VARCHAR},
      </if>
      <if test="messageTitle != null" >
        #{messageTitle,jdbcType=VARCHAR},
      </if>
      <if test="messageIcon != null" >
        #{messageIcon,jdbcType=VARCHAR},
      </if>
      <if test="messageSummary != null" >
        #{messageSummary,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null" >
        #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="messageWhereabouts != null" >
        #{messageWhereabouts,jdbcType=VARCHAR},
      </if>
      <if test="notificationTitle != null" >
        #{notificationTitle,jdbcType=VARCHAR},
      </if>
      <if test="notificationText != null" >
        #{notificationText,jdbcType=VARCHAR},
      </if>
      <if test="notificationLogo != null" >
        #{notificationLogo,jdbcType=VARCHAR},
      </if>
      <if test="notificationLogoUrl != null" >
        #{notificationLogoUrl,jdbcType=VARCHAR},
      </if>
      <if test="notificationRing != null" >
        #{notificationRing,jdbcType=INTEGER},
      </if>
      <if test="notificationVibrate != null" >
        #{notificationVibrate,jdbcType=INTEGER},
      </if>
      <if test="notificationClearable != null" >
        #{notificationClearable,jdbcType=INTEGER},
      </if>
      <if test="mandatoryReminder != null" >
        #{mandatoryReminder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext != null" >
        #{ext,jdbcType=VARCHAR},
      </if>
      <if test="offLine != null" >
        #{offLine,jdbcType=INTEGER},
      </if>
      <if test="wifi != null" >
        #{wifi,jdbcType=INTEGER},
      </if>
      <if test="sound != null" >
        #{sound},
      </if>
    </trim>
  </insert>
</mapper>
