<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk51.modules.offline.mapper.BMethodTimeMapper">
    <insert id="insertMethodStaticsTime">
        INSERT  INTO b_method_time (site_id,method_name,args_names,args_values,return_values,statics_time)
        VALUES
        (#{siteId},#{methodName},#{argsNames},#{argsValues},#{returnValue},#{staticsTime});
    </insert>
</mapper>
