<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk51.modules.authority.mapper.BStoresPermissionMapper">

    <insert id="insertPermission" parameterType="java.util.Map">
        insert into b_stores_permission (site_id,store_id,permission_id,permission_desc,status,is_del)
        VALUES (#{siteId},#{storeIds},#{PermissionIds},#{desc},#{status},#{is_del});
    </insert>
    <select id="selectPermission" resultType="java.util.Map">
       select id,store_id,permission_id,permission_desc,status,is_del from b_stores_permission where site_id=#{siteId} and permission_desc=#{desc} and status=#{status};
    </select>
    <update id="updateStorePermission">
        update b_stores_permission
        <set>
            <if test="storeIds!='' and storeIds!=null">
                store_id=#{storeIds},
            </if>
            <if test="permissionIds!='' and permissionIds!=null">
                permission_id=#{permissionIds},
            </if>
            <if test="desc!='' and desc!=null">
                permission_desc=#{desc},
            </if>
        </set>
        <where>
            site_id=#{siteId}
            and id=#{id}
            <if test="status!='' and status!=null">
                and status=#{status}
            </if>
        </where>
    </update>
    <update id="updateStatusByPrimaryKey">
        update b_stores_permission
        <set>
            <if test="status!=null and status!=''">
                status=#{status},
            </if>
            <if test="isDel!=null and isDel!=''">
                is_del=#{isDel},
            </if>
        </set>
        where site_id=#{siteId} and id=#{id};
    </update>
</mapper>
