<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk51.modules.appInterface.mapper.ChAccountLogMapper" >

    <select id="countTotalIncome" resultType="java.lang.Long">
        SELECT sum(amount) from ch_account_log
        where
          user_id = #{userId}
          AND
          operation = 1
          <if test="month!=null">
              AND created_at like CONCAT("%",#{month},"%")
          </if>
    </select>
</mapper>