<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jk51.modules.coupon.mapper.CouponActivityMapper">
    <resultMap id="couponActivity" type="com.jk51.model.coupon.CouponActivity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="site_id" jdbcType="INTEGER" property="siteId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="send_obj" jdbcType="TINYINT" property="sendObj"/>
        <result column="sign_members" jdbcType="VARCHAR" property="signMermbers"/>
        <result column="send_type" jdbcType="TINYINT" property="sendType"/>
        <result column="send_condition_type" jdbcType="VARCHAR" property="sendConditionType"/>
        <result column="send_condition" jdbcType="VARCHAR" property="sendCondition"/>
        <result column="send_way" jdbcType="TINYINT" property="sendWay"/>
        <result column="time_rule" jdbcType="VARCHAR" property="timeRule"/>
        <result column="send_limit" javaType="INTEGER" property="sendLimit"/>
        <result column="send_way_value" jdbcType="VARCHAR" property="sendWayValue"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="created_total" jdbcType="INTEGER" property="createdTotal"/>
        <result column="used_total" jdbcType="INTEGER" property="usedTotal"/>
        <result column="send_status" jdbcType="INTEGER" property="sendStatus"/>
        <result column="send_rules" jdbcType="VARCHAR" property="sendRules"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        active.id , active.site_id,active.title, active.content,active.image,active.send_obj, active.send_type,
        active.send_condition_type, active.send_condition, active.send_way, active.send_limit, active.send_way_value,
        active.status, active.start_time, active.end_time, active.create_time,active.update_time,active.send_status
    </sql>

    <sql id="All_Column_Query">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        id ,
        site_id,
        title,
        content,
        image,
        send_obj,
        sign_members,
        send_type,
        send_condition_type,
        send_condition,
        send_way,
        time_rule,
        send_limit,
        send_way_value,
        status,
        start_time,
        end_time,
        create_time,
        update_time,
        send_status,
        created_total,
        used_total,
        send_rules
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.jk51.model.coupon.CouponActivity">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        insert into
        b_coupon_activity(
        site_id,
        title,
        content,
        image,
        send_obj,
        sign_members,
        send_type,
        send_condition_type,
        send_condition,
        send_way,
        time_rule,
        send_limit,
        start_time,
        end_time,
        create_time,
        update_time,
        send_way_value,
        status,
        send_status,
        send_rules)
        VALUES(
        #{siteId},
        #{title},
        #{content},
        #{image},
        #{sendObj},
        #{signMermbers},
        #{sendType},
        #{sendConditionType},
        #{sendCondition},
        #{sendWay},
        #{timeRule},
        #{sendLimit},
        #{startTime},
        #{endTime},
        CURRENT_TIMESTAMP,
        #{updateTime},
        #{sendWayValue},
        #{status},
        #{sendStatus},
        #{sendRules})
    </insert>

    <update id="update" parameterType="com.jk51.model.coupon.CouponActivity">
        UPDATE
            b_coupon_activity
        SET
            title = #{title},
            content = #{content},
            image = #{image},
            send_obj = #{sendObj},
            send_type = #{sendType},
            send_condition_type = #{sendConditionType},
            send_condition = #{sendCondition},
            send_way = #{sendWay},
            send_limit = #{sendLimit},
            start_time = #{startTime},
            end_time = #{endTime},
            update_time = CURRENT_TIMESTAMP,
            send_way_value = #{sendWayValue},
            status = #{status},
            sign_members = #{signMermbers},
            send_status = #{sendStatus},
            send_rules = #{sendRules}
        WHERE
            site_id = #{siteId}
        AND id = #{id}
    </update>

    <select id="findActivityByType" resultType="java.util.Map">
        SELECT
        a.site_id,
        a.send_obj,
        a.send_type,
        a.send_condition_type,
        a.send_condition,
        a.send_way,
        a.send_way_value,
        b.rule_id,
        b.num,
        b.amount,
        b.send_num,
        b.use_num,
        b.receive_num
        FROM b_coupon_activity a
        INNER JOIN b_coupon_activity_coupon b ON a.id = b.active_id
        <where>
            <if test="siteId != null">
                AND a.site_id = #{siteId}
            </if>
            <if test="sendType != null">
                AND a.send_type = #{sendType}
            </if>
            AND a.status = 0
            AND b.status = 0
        </where>
    </select>

    <select id="getCouponActivity" resultMap="couponActivity">
        SELECT
        <include refid="All_Column_Query"/>
        FROM
        b_coupon_activity
        WHERE
        site_id = #{0}
        AND
        id = #{1}
    </select>

    <select id="getCouponActivityInIssued" resultMap="couponActivity">
        SELECT
        <include refid="All_Column_Query"/>
        FROM
        b_coupon_activity
        WHERE
        site_id = #{0}
        AND
        id = #{1}
        AND status = 0
    </select>

    <select id="getCouponActivityList" resultMap="couponActivity">
        SELECT
        <include refid="All_Column_Query"/>
        FROM
        b_coupon_activity
        WHERE
        site_id = #{0}
        AND
        status = 0
        ORDER BY
        create_time DESC
    </select>
    <select id="getCouponActivityListBySendWayUnAuth" resultMap="couponActivity">
        SELECT
        <include refid="All_Column_Query"/>
        FROM
        b_coupon_activity
        WHERE
        site_id = #{0}
        AND
        status = 0
        AND
        send_way = 0
        ORDER BY
        create_time DESC
    </select>
    <select id="getCouponActivityListBySendWay" resultMap="couponActivity">
        SELECT
        <include refid="All_Column_Query"/>
        FROM
        b_coupon_activity
        WHERE
        site_id = #{0}
        AND
        status = 0
        AND
        send_way = 0
        ORDER BY
        create_time DESC
    </select>

    <select id="findCouponActivityList" parameterType="com.jk51.model.coupon.CouponActivity" resultMap="couponActivity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        b_coupon_activity active
        <where>
            <if test="siteId != null">
                AND site_id = #{siteId}
            </if>
            <if test="title != null">
                AND title like concat('%',#{title},'%')
            </if>
            <if test="sendWay != null">
                AND send_way = #{sendWay}
            </if>
            <if test="sendType != null">
                AND send_type = #{sendType}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="startTime!=null">
                AND create_time &gt;= #{startTime}
            </if>
            <if test="endTime!=null">
                AND create_time &lt;= #{endTime}
            </if>
        </where>
        ORDER BY
        create_time DESC
    </select>

    <update id="updateCouponActivity">
       UPDATE b_coupon_activity
       SET end_time = #{0},
       update_time = NOW()
       WHERE site_id= #{1}  AND id = #{2}
    </update>

    <update id="updateCouponActivityStatus">
       UPDATE b_coupon_activity
       SET status = 0,
       update_time = NOW()
       WHERE site_id= #{0}  AND id = #{1}
    </update>


    <update id="updateStatusByTime">

        UPDATE
          b_coupon_activity
        SET
          status = #{2}
        WHERE
          site_id = #{0}
        AND id = #{1}
    </update>

    <select id="selectStatus" resultMap="couponActivity">

        SELECT  * FROM b_coupon_activity WHERE status in (0, 1, 2, 3)
    </select>
    <select id="selectActivityStatus" resultMap="couponActivity">
        SELECT  * FROM b_coupon_activity WHERE status = 11
    </select>

    <select id="findWxUrlBySiteId" resultType="java.util.Map">
        SELECT shopwx_url FROM yb_merchant WHERE merchant_id = #{0}
    </select>

    <update id="updateStatus">
         UPDATE b_coupon_activity SET status =3 WHERE
        site_id =#{0} and id=#{1}
    </update>

    <select id="findActivityByCouponRule" resultMap="couponActivity">

        select r.*
        from b_coupon_activity r
        join b_coupon_activity_coupon c on r.id=c.active_id and r.site_id = c.site_id
        where c.site_id=#{0} and c.rule_id=#{1} and c.status=0
    </select>

    <select id="findActivityFixedSend" resultMap="couponActivity">
     
        SELECT *
        FROM
          b_coupon_activity
        WHERE
          send_type=3
        AND
          send_way=1
        AND
          (status = 1 or status =0)
        AND
          start_time &gt;= #{nowTime}
    </select>

    <update id="updateCouponActivityByUse" parameterType="com.jk51.model.coupon.CouponActivity">
        UPDATE b_coupon_activity
        <trim prefix="set" suffixOverrides=",">
            <if test="usedTotal!=null">
                used_total = used_total + 1,
            </if>
            <if test="createdTotal!=null">
                created_total = created_total + 1
            </if>
        </trim>
        WHERE site_id = #{siteId} AND id = #{id}
    </update>

    <update id="updateSendStatus" parameterType="com.jk51.model.coupon.CouponActivity">
        UPDATE b_coupon_activity
        SET send_status = #{sendStatus}
        WHERE site_id = #{siteId} AND id = #{id}
    </update>

    <select id="selectActiveById" resultType="java.util.Map">

        select
        <include refid="All_Column_Query"/>
        from b_coupon_activity WHERE id=#{activeId}
    </select>

    <!-- 查询出所有的发放失败的活动 并且类型为直接发放到账户和店员两种 -->
    <select id="getAllCouponActivity" resultMap="couponActivity">

        select
        <include refid="All_Column_Query"/>
        from b_coupon_activity WHERE send_status != 1 and send_way in(1,5);
    </select>

    <update id="updateActiveForStopStatus" parameterType="com.jk51.model.coupon.CouponActivity">
        UPDATE b_coupon_activity
        SET
        status = #{status}
        WHERE site_id = #{siteId} AND id = #{id}
    </update>

</mapper>
