<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk51.modules.authority.mapper.RoleHasPermissionMapper">
    <resultMap id="BaseResultMap" type="com.jk51.model.role.RoleHasPermission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="permission_id" jdbcType="INTEGER" property="permissiond"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="del_time" jdbcType="TIMESTAMP" property="deltime"/>
        <result column="site_id" jdbcType="INTEGER" property="siteId"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"></result>
    </resultMap>
    <sql id="BaseColumnList">
    id, role_id, permission_id, create_time, del_time, site_id,is_del
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from yb_role_has_permission
        where id = #{id,jdbcType=INTEGER}
        and is_active=1
    </select>
    <update id="delByRoleKey" parameterType="com.jk51.model.role.RoleKey">
        update yb_role_has_permission SET is_del=1
        where role_id = #{id,jdbcType=INTEGER}
        <if test="siteId!=null">
            AND site_id=#{siteId,jdbcType=INTEGER}
        </if>

    </update>
    <insert id="insertSelective" parameterType="com.jk51.model.role.RoleHasPermission">
        insert into yb_role_has_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                role_id,
            </if>
            <if test="permissionId != null">
                permission_id,
            </if>
            <if test="createtime != null">
                create_time,
            </if>
            <if test="deltime != null">
                del_time,
            </if>
            <if test="siteId != null">
                site_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
            <if test="permissionId != null">
                #{permissionId,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="deltime != null">
                #{deltime,jdbcType=TIMESTAMP},
            </if>
            <if test="siteId != null">
                #{siteId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jk51.model.role.RoleHasPermission">
        update yb_role_has_permission
        <set>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=INTEGER},
            </if>
            <if test="permissionId != null">
                permission_id = #{permissionId,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                create_time = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="deltime != null">
                del_time = #{deltime,jdbcType=TIMESTAMP},
            </if>
            <if test="siteId != null">
                site_id = #{siteId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByRoleKey" parameterType="com.jk51.model.role.RoleKey">
    select FROM b_rolehaspermission where site_id=#{siteId} and role_id=#{id} and is_active=1
  </select>
</mapper>