<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk51.modules.offline.mapper.SMSTplMapper">
   <select id="selectSmsTplById" parameterType="int" resultType="com.jk51.commons.sms.SmsTemplate">
       select id,word,paramName,yp_tpl_id,dj_status,yp_status from sms_template where id = #{id}
   </select>
</mapper>
