<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jk51.modules.coupon.mapper.UserCouponMapper">

    <select id="getOldUserCouponBySiteIdAndCouponId" resultType="com.jk51.model.coupon.UserCoupon">
        SELECT * FROM b_shop_${siteId}.b_user_coupon WHERE coupon_id=#{couponId}
    </select>

</mapper>