
<h1>======================list==============</h1>
<h2>list.isEmpty:<span th:text="${#lists.isEmpty(list)}"></span></h2>
<h2>list.size:<span th:text="${#lists.size(list)}"></span></h2>
<h2>list.sort:<span th:text="${#lists.sort(list)}"></span></h2>
<h2>list.contains:<span th:text="${#lists.contains(list,7)}"></span></h2>

<h1>======================map==============</h1>
<h2>map.isEmpty:<span th:text="${#maps.isEmpty(map)}"></span></h2>
<h2>map.size:<span th:text="${#maps.size(map)}"></span></h2>
<h2>map.containsKey:<span th:text="${#maps.containsKey(map,'key2')}"></span></h2>

<h1>======================set==============</h1>
<h2>set.isEmpty:<span th:text="${#sets.isEmpty(set)}"></span></h2>
<h2>set.size:<span th:text="${#sets.size(set)}"></span></h2>
<h2>set.contains:<span th:text="${#sets.contains(set,'value1')}"></span></h2>

<h1>======================array==============</h1>
<h2>array.isEmpty:<span th:text="${#arrays.isEmpty(array)}"></span></h2>
<h2>array.length:<span th:text="${#arrays.length(array)}"></span></h2>
<h2>array.contains:<span th:text="${#arrays.contains(array,'4')}"></span></h2>
