
<h1>==============Date================</h1>
<h2>当前时间：<span th:text="${#dates.format(curDate)}"></span></h2>
<h2>格式化当前时间：<span th:text="${#dates.format(curDate, 'yyyy-MM-dd HH:mm:ss.SSS')}"></span></h2>
<h2>day：<span th:text="${#dates.day(curDate)}"></span></h2>
<h2>month：<span th:text="${#dates.month(curDate)}"></span></h2>
<h2>monthName：<span th:text="${#dates.monthName(curDate)}"></span></h2>
<h2>monthNameShort：<span th:text="${#dates.monthNameShort(curDate)}"></span></h2>
<h2>year：<span th:text="${#dates.year(curDate)}"></span></h2>
<h2>dayOfWeek：<span th:text="${#dates.dayOfWeek(curDate)}"></span></h2>
<h2>dayOfWeekName：<span th:text="${#dates.dayOfWeekName(curDate)}"></span></h2>
<h2>dayOfWeekNameShort：<span th:text="${#dates.dayOfWeekNameShort(curDate)}"></span></h2>
<h2>hour：<span th:text="${#dates.hour(curDate)}"></span></h2>
<h2>minute：<span th:text="${#dates.minute(curDate)}"></span></h2>
<h2>second：<span th:text="${#dates.second(curDate)}"></span></h2>
<h2>millisecond：<span th:text="${#dates.millisecond(curDate)}"></span></h2>
<h2>createNow：<span th:text="${#dates.createNow()}"></span></h2>
<h2>createToday：<span th:text="${#dates.createToday()}"></span></h2>

<h1>==============calendars================</h1>
<h2>当前时间：<span th:text="${#calendars.format(curDate)}"></span></h2>
<h2>格式化当前时间：<span th:text="${#calendars.format(curDate, 'yyyy-MM-dd HH:mm:ss.SSS')}"></span></h2>
<h2>day：<span th:text="${#calendars.day(curDate)}"></span></h2>
<h2>month：<span th:text="${#calendars.month(curDate)}"></span></h2>
<h2>monthName：<span th:text="${#calendars.monthName(curDate)}"></span></h2>
<h2>monthNameShort：<span th:text="${#calendars.monthNameShort(curDate)}"></span></h2>
<h2>year：<span th:text="${#calendars.year(curDate)}"></span></h2>
<h2>dayOfWeek：<span th:text="${#calendars.dayOfWeek(curDate)}"></span></h2>
<h2>dayOfWeekName：<span th:text="${#calendars.dayOfWeekName(curDate)}"></span></h2>
<h2>dayOfWeekNameShort：<span th:text="${#calendars.dayOfWeekNameShort(curDate)}"></span></h2>
<h2>hour：<span th:text="${#calendars.hour(curDate)}"></span></h2>
<h2>minute：<span th:text="${#calendars.minute(curDate)}"></span></h2>
<h2>second：<span th:text="${#calendars.second(curDate)}"></span></h2>
<h2>millisecond：<span th:text="${#calendars.millisecond(curDate)}"></span></h2>
<h2>createNow：<span th:text="${#calendars.createNow()}"></span></h2>
<h2>createToday：<span th:text="${#calendars.createToday()}"></span></h2>
