<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk51.modules.clerkvisit.mapper.BVisitDeployMapper">
  <resultMap id="BaseResultMap" type="com.jk51.model.clerkvisit.BVisitDeploy">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="site_id" jdbcType="INTEGER" property="siteId" />
    <result column="clerk_visit_id" jdbcType="INTEGER" property="clerkVisitId" />
    <result column="pre_store_id" jdbcType="INTEGER" property="preStoreId" />
    <result column="pre_admin_id" jdbcType="INTEGER" property="preAdminId" />
    <result column="pre_admin_name" jdbcType="VARCHAR" property="preAdminName" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, site_id, clerk_visit_id, pre_store_id, pre_admin_id, pre_admin_name, store_id, 
    admin_id, admin_name, operator_id, operator_name, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.jk51.model.clerkvisit.BVisitDeployExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_visit_deploy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_visit_deploy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_visit_deploy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jk51.model.clerkvisit.BVisitDeployExample">
    delete from b_visit_deploy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jk51.model.clerkvisit.BVisitDeploy">
    insert into b_visit_deploy (id, site_id, clerk_visit_id, 
      pre_store_id, pre_admin_id, pre_admin_name, 
      store_id, admin_id, admin_name, 
      operator_id, operator_name, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, #{clerkVisitId,jdbcType=INTEGER}, 
      #{preStoreId,jdbcType=INTEGER}, #{preAdminId,jdbcType=INTEGER}, #{preAdminName,jdbcType=VARCHAR}, 
      #{storeId,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, 
      #{operatorId,jdbcType=INTEGER}, #{operatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jk51.model.clerkvisit.BVisitDeploy">
    insert into b_visit_deploy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="siteId != null">
        site_id,
      </if>
      <if test="clerkVisitId != null">
        clerk_visit_id,
      </if>
      <if test="preStoreId != null">
        pre_store_id,
      </if>
      <if test="preAdminId != null">
        pre_admin_id,
      </if>
      <if test="preAdminName != null">
        pre_admin_name,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="adminName != null">
        admin_name,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="operatorName != null">
        operator_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="siteId != null">
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="clerkVisitId != null">
        #{clerkVisitId,jdbcType=INTEGER},
      </if>
      <if test="preStoreId != null">
        #{preStoreId,jdbcType=INTEGER},
      </if>
      <if test="preAdminId != null">
        #{preAdminId,jdbcType=INTEGER},
      </if>
      <if test="preAdminName != null">
        #{preAdminName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jk51.model.clerkvisit.BVisitDeployExample" resultType="java.lang.Long">
    select count(*) from b_visit_deploy
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update b_visit_deploy
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.siteId != null">
        site_id = #{record.siteId,jdbcType=INTEGER},
      </if>
      <if test="record.clerkVisitId != null">
        clerk_visit_id = #{record.clerkVisitId,jdbcType=INTEGER},
      </if>
      <if test="record.preStoreId != null">
        pre_store_id = #{record.preStoreId,jdbcType=INTEGER},
      </if>
      <if test="record.preAdminId != null">
        pre_admin_id = #{record.preAdminId,jdbcType=INTEGER},
      </if>
      <if test="record.preAdminName != null">
        pre_admin_name = #{record.preAdminName,jdbcType=VARCHAR},
      </if>
      <if test="record.storeId != null">
        store_id = #{record.storeId,jdbcType=INTEGER},
      </if>
      <if test="record.adminId != null">
        admin_id = #{record.adminId,jdbcType=INTEGER},
      </if>
      <if test="record.adminName != null">
        admin_name = #{record.adminName,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorId != null">
        operator_id = #{record.operatorId,jdbcType=INTEGER},
      </if>
      <if test="record.operatorName != null">
        operator_name = #{record.operatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update b_visit_deploy
    set id = #{record.id,jdbcType=INTEGER},
      site_id = #{record.siteId,jdbcType=INTEGER},
      clerk_visit_id = #{record.clerkVisitId,jdbcType=INTEGER},
      pre_store_id = #{record.preStoreId,jdbcType=INTEGER},
      pre_admin_id = #{record.preAdminId,jdbcType=INTEGER},
      pre_admin_name = #{record.preAdminName,jdbcType=VARCHAR},
      store_id = #{record.storeId,jdbcType=INTEGER},
      admin_id = #{record.adminId,jdbcType=INTEGER},
      admin_name = #{record.adminName,jdbcType=VARCHAR},
      operator_id = #{record.operatorId,jdbcType=INTEGER},
      operator_name = #{record.operatorName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk51.model.clerkvisit.BVisitDeploy">
    update b_visit_deploy
    <set>
      <if test="siteId != null">
        site_id = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="clerkVisitId != null">
        clerk_visit_id = #{clerkVisitId,jdbcType=INTEGER},
      </if>
      <if test="preStoreId != null">
        pre_store_id = #{preStoreId,jdbcType=INTEGER},
      </if>
      <if test="preAdminId != null">
        pre_admin_id = #{preAdminId,jdbcType=INTEGER},
      </if>
      <if test="preAdminName != null">
        pre_admin_name = #{preAdminName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null">
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="operatorName != null">
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk51.model.clerkvisit.BVisitDeploy">
    update b_visit_deploy
    set site_id = #{siteId,jdbcType=INTEGER},
      clerk_visit_id = #{clerkVisitId,jdbcType=INTEGER},
      pre_store_id = #{preStoreId,jdbcType=INTEGER},
      pre_admin_id = #{preAdminId,jdbcType=INTEGER},
      pre_admin_name = #{preAdminName,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=INTEGER},
      admin_id = #{adminId,jdbcType=INTEGER},
      admin_name = #{adminName,jdbcType=VARCHAR},
      operator_id = #{operatorId,jdbcType=INTEGER},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
