
<p>这个是添加会员列表的页面。</p>
    <form id="memberAddForm" th:action="@{/member/add}" th:method="post" th:object="${member}">
        <table border="1">
            <tr>
                <th>会员ID</th>
                <th>姓名</th>
                <th>手机号码</th>
                <th>门店ID</th>
            </tr>
            <tr>
                <td><input type="text" name="会员ID" value="" th:field="*{buyer_id}"/></td>
                <td><input type="text" name="姓名" value="" th:field="*{name}"/></td>
                <td><input type="text" name="手机号码" value="" th:field="*{mobile}"/></td>
                <td><input type="text" name="门店ID" value="" th:field="*{register_stores}"/></td>
                <td><input type="submit" value="提交"/></td>
            </tr>
        </table>
    </form>